nav ul {
    list-style: none;   /*List item markers kaldırır*/
    padding: 0;  /*Padding kaldırır*/ 
    margin: 0;  /* Margin kaldırır*/
    display: flex;  /*Listeyi yatay yapar*/ 
    gap: 20px;  /*List item'lar arasında boşluk bırakır*/ 
}

nav ul li {
    padding: 10px;  /*List item'lar için padding ekler*/ 
}
